<form [formGroup]="hotelRagistrationForm" class="div-form">
   <mat-form-field class="form-field">

    <mat-label>Owner Name</mat-label>
    <input matInput formControlName="ownerName">
</mat-form-field>
    <mat-form-field class="form-field">

        <mat-label>Owner Contact</mat-label>
        <input type="tel" matInput placeholder="555-555-1234"formControlName="ownerContact" maxlength="10">
        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->

    </mat-form-field><br>

    <mat-form-field class="form-field">
        <mat-label>Hotel Name</mat-label>
        <input matInput formControlName="hotelName">
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Hotel Address</mat-label>
        <input matInput formControlName="hotelAddress">
    </mat-form-field><br>
    <mat-form-field class="form-field">
        <mat-label>Hotel Contact</mat-label>
        <input type="tel" matInput matInput placeholder="555-555-1234" formControlName="hotelContact">
        <!-- s<mat-icon matSuffix>mode_edit</mat-icon> -->
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Hotel Menu</mat-label>
        <input matInput formControlName="hotelMenu">
    </mat-form-field><br>
    <mat-form-field class="form-field">
        <mat-label>Rooms Available</mat-label>
        <input matInput formControlName="roomsAvailable">
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Owner Check</mat-label>
        <input matInput formControlName="ownerCheck">
    </mat-form-field><br>
    <mat-form-field class="form-field">
        <mat-label> Password</mat-label>
        <input matInput formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitDetails()">Submit Details </button>
            <button mat-raised-button color="primary" (click)="back()">back </button>

</form>