<!-- <div class="container"> 
    <div class="btn-container">
        <button mat-raised-button color="primary" class="btns" (click)="back()">back</button>
        <button mat-raised-button color="primary" class="btns" (click)="login()">Login</button>
        <button routerLink="/owner/ownersignup" mat-raised-button color="primary" class="btns">SignUp</button>
        <button routerLink="" mat-raised-button color="accent">MyHotels</button>   
    </div>  
</div>-->
<button mat-raised-button color="primary"  class="btns" (click)="back()">Back</button>
<form class="example-form" [formGroup]="loginForm">
<!-- <form class="example-form" [formGroup]="loginForm"> -->

    <mat-form-field class="example-full-width">
        <mat-label>username</mat-label>
        <input matInput formControlName="userName">
    </mat-form-field>
    <br>
    <mat-form-field class="exaple-full-width">
        <mat-label >Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <!-- <button mat-raised-button color="primary" *ngIf="forgotPassword" (click)="forgetPassword()">Forgot Password</button> -->
        <a routerLink="/owner/ownersignup" mat-raised-button color="accent">New Owner?</a><br>
        <!-- <a (click)="forgetPassword()">forgotten Password?</a>  -->
        
    </div>
</form>

 <!-- <form class="example-form" [formGroup]="forgetPasswordForm" *ngIf="showForgetPasswordForm"> --> -->
    <!-- <mat-form-field class="example-full-width"> -->
        <!-- <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Conform Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" (click)="Submit"></button>
    </div>
</form>  -->

