.container{
   
    height: 100%; 
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.example-form{
    border: 1px solid black;
    background-color: rgb(247, 245, 242);
    height: 250px;
    width: 300px;
    margin-left: 91px;
    margin-top: 50px;
    padding: 20px 24px;
}
.btn-container{
    position: relative;
    top: 25px;
}
.btns{
    padding: 6px,6px;
    margin: 7px;
}
::ng-deep body{
    background-color:rgba(216, 232, 245, 0.78);
    background-size:100% 100%;
}