.container{
    background-image: url('/assets/images/hotel2.jpg');
    height: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-container
{
    position: relative;
    top: 25px;
}
.btns{
    padding: 6px,6px;
    margin: 7px;
}